*{
    margin:0;
    padding:0;
}
html{
    font-size: 62.5%;
}

body {
    font-style: Helvetica, Arial, sans-serif;
    font-size : 1.6rem;
    background: #222831;
}
button{
    cursor: pointer;
}

button:disabled{
    cursor: default;
}