.cases_body{
    max-width:60rem;
    width:auto;
    padding: 3rem;
    box-shadow: 0 4px 8px 0 #1a1d24;
    transition: 0.3s;
    border-radius: 5px;
    
}
.cases_body:hover{
    box-shadow: 0 8px 16px  #1a1d24;
}

.cases_text{
        color: black;
        font-size: 17px;
        padding:1.6rem;
}
.case_value_text {
    color: red;
}

@media (min-width: 45rem){
    .case_body{
        margin-bottom: 4.8rem;
    }
}
